* {
  box-sizing: border-box !important;
  /* padding: 0 !important;
  margin: 0 !important; */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid gray;
}

.App {
  text-align: center;
  font-size: 12px;
}


